.venv
.vscode
.astylerc
__pycache__

bin/*
!bin/.gitkeep

data/plots/equi/*_g*.txt
data/raw/dynm/*
!data/raw/dynm/.gitkeep
data/raw/equi/*
!data/raw/equi/.gitkeep
data/snap/*
!data/snap/.gitkeep

latex/auxiliary
latex/images/*eps
latex/images/*pdf
latex/plots/*.eps
latex/plots/*.pdf

src/tests/current
src/**/debug

*.log
