.venv
.vscode

bin/*
!bin/.gitkeep

data/raw/dynm/*
!data/raw/dynm/.gitkeep
data/raw/equi/*
!data/raw/equi/.gitkeep
data/snap/*
!data/snap/.gitkeep

latex/auxiliary
latex/plots/*.eps
latex/plots/*.pdf
latex/svg-inkscape

literature
anmeldung.pdf

# Output files 
*.png
*.pdf
!thesis.pdf
*.log