.vscode

bin/*
!bin/.gitkeep

data/raw/dynm/*
!data/raw/dynm/.gitkeep
data/raw/equi/*
!data/raw/equi/.gitkeep
data/snap/*
!data/snap/.gitkeep


literature
raw/dynm/
# Output files 
*.png
*.pdf
!thesis.pdf
*.log